NODE_ENV=development
HOST=127.0.0.1
PORT=3000
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=fluide_prod
PGUSER=fluide_app
PGPASSWORD=replace-with-local-password
SESSION_SECRET=replace-with-at-least-32-random-characters
