NODE_ENV=development
HOST=127.0.0.1
PORT=3000
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=fluide_prod
PGUSER=fluide_app
PGPASSWORD=replace-with-local-password
SESSION_SECRET=replace-with-at-least-32-random-characters
YANDEX_CLIENT_ID=replace-with-yandex-client-id
YANDEX_CLIENT_SECRET=replace-with-yandex-client-secret
YANDEX_REDIRECT_URI=http://127.0.0.1:3000/api/auth/yandex/callback
